header {
    height: 10px;
    display: flex;
    align-items: center;
    background-color: #70707000;
    z-index: -1;
    padding-left: 23px;
    padding-top: 38px;
}

.body--menu-lateral-ativo {
    margin-left: 290px;
    transition: margin-left 1.3s ease;
}

.menu-lateral .logo a {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.menu-lateral {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 280px;
    max-height: 100vh;
    min-height: 650px;
    background-image: linear-gradient(to right, #000000, #0b031a 90%);
    padding: 10px;
    z-index: 5;
    border-right: solid 1px rgb(122, 122, 122);
}

.menu-lateral::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 61px;
    /* valor negativo igual à altura do elemento */
    width: 100%;
    border-bottom: 1px solid rgb(129, 129, 129);
}

.menu-topics li a.active {
    background-color: #F4A460;
    /* Altere para a cor desejada */
}

.menu-topics {
    margin-top: calc(18vh - 105px);
    margin-bottom: 12px;
}

.menu-lateral li {
    margin-bottom: 10px;
    padding: 13px 15px;
    border-radius: 8px;
    font-size: 14.5px;
    margin-right: 12px;
}

.menu-lateral li:hover {
    background-color: #ffffff17;
    color: #FFA500;
}

.menu-lateral a {
    display: block;
    color: #ffffff;
    font-size: 14.5px;
    text-decoration: none;
}

.menu-topics ul li a {
    display: block;
    padding: 10px 20px;
    color: #b2b2b2;
    font-size: 1.1rem;
    text-decoration: none;
}

.menu-topics li.active {
    background-color: rgba(100, 100, 100, 0);
    background-image: linear-gradient(to left, rgba(255, 145, 0, 0.486), #36363600 70%);
    /* Adiciona cor sólida para metade inferior do botão */
    color: orange;
}

.menu-options {
    position: absolute;
    left: -10px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 8px;
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
    margin-left: 13px;
}

.menu-options li:hover {
    color: #fff;
    cursor: pointer;
}

.menu-topics a:hover {
    color: #FFA500;
    transition: all 0.5s;
}

.menu-lateral--ativo {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 270px;
    z-index: 999;
    background-color: #707070;
}

.cabecalho__menu i::before {
    font-size: 30px;
}

.cabecalho__menu.ativo+.menu-lateral--ativo {
    transform: translateX(0);
    transition: transform 1s ease-in-out;
}

.scroll-disabled {
    overflow: hidden;
}

/* ----------------- Responsivo ----------------------*/
@media screen and (min-width: 770px) {
    .cabecalho__menu {
        display: none;
        position: relative;
        z-index: 10;
    }

}

@media only screen and (min-width: 376px) and (max-width: 770px) {
    section {
        min-width: 354px;
    }

    canvas {
        min-width: 354px;
    }

    main {
        min-width: 354px;
    }

    h2 {
        min-width: 374px;
    }

    h6 {
        min-width: 224px;
    }
}

@media only screen and (max-width: 770px) {
    .menu-lateral {
        position: fixed;
        transition: all 1s ease;
        transform: translateX(-100%);
        max-height: 780px;
    }

    .menu-lateral ul {
        width: 100%;
    }

    .menu-lateral ul li {
        display: block;
    }

    .menu-lateral ul li:last-child {
        border-bottom: none;
    }

    .menu-lateral ul li a {
        display: block;
        text-decoration: none;
        color: #ffffff;
        transition: all 1s ease;
        font-size: 14px;
    }

    .menu-lateral ul li a:hover {
        color: #ffffff;
    }

    .menu-topics {
        margin-top: 55px;
    }

    .menu-options {
        margin-left: 5px;
        bottom: 0;
    }

    #light-mode-button {
        margin-top: 3px;
        padding-top: 3px;
        padding-bottom: 2px !important;
        margin-bottom: 10px;
        align-items: center;
        display: flex;
    }

    #language-button {
        margin-top: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .menu-lateral--ativo {
        transform: translateX(0);
    }

    .cabecalho__menu {
        position: fixed;
        z-index: 10;
        color: black;
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        height: 40px;
    }
}

@media only screen and (max-width: 376px) {
    .menu-topics {
        margin-top: 10px;
    }

    .menu-options {
        bottom: 5px;
    }

    .menu-lateral::after {
        bottom: 55px;
    }

    section {
        min-width: 315px;
    }

    .menu-lateral li {
        margin-bottom: 10px;
        padding: 10px 15px;
        border-radius: 8px;
        font-size: 14.5px;
    }

    .menu-lateral--ativo {
        height: 97vh;
    }
}
